$pageheight: 120vh;

@mixin seccion {
    position: relative;
	height: $pageheight;
}
.section {
    @include seccion;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
